<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Sklep</title>
    <style>
        .form-column {
            margin: 15px;
        }

        .site {
            margin: 10px;
        }

        .form-control {
            width: 200px;
        }

        .form-row {
            margin: 10px;
        }

        .form-control {
            margin-left: 15px;
        }
    </style>
</head>
<body class="site">
<h2>Wprowadź nowy produkt</h2>
<form action="/add" method="get">
    <div class="form-column">
        <div class="form-row">
            <label for="name">Nazwa produktu</label>
            <input type="text" class="form-control" placeholder="nazwa produktu" name="name" id="name" required>
        </div>
        <div class="form-row">
            <label for="price">Cena produktu</label>
            <input type="number" step="0.01" class="form-control" placeholder="cena" name="price" id="price" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Dodaj produkt">
    </div>
</form>
<ul>
    <li><a href="/lista">Lista wszystkich produktów</a></li>
    <li><a href="/tabela">Tabela wszystkich produktów</a></li>
</ul>
</body>
</html>