<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <style>
        .site {
            margin: 15px;
        }

        h2 {
            color: darkblue;
        }
    </style>
</head>
<body class="site">
<h2>Lista produktów</h2>
<ul th:each="product:${productList}">
    <li th:text="${product.name + ' ' + product.price} + ' zł'"></li>
</ul>
</body>
</html>